.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.groovy.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.grails.ide.eclipse.core.prefs
target/classes
target/work/plugin-build-classes
target/work
wrapper
stacktrace.log
web-app/fotos/foto-3716583091085069312.jpg
web-app/fotos/foto-452034698039954432.jpg
web-app/fotos
MultaCidada-0.1.war
